<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.min.js"></script>
    <script src="components/base/script.js"></script>
  </head>
  <body>
    <div class="page">
      <section class="section" style="position:relative">
        <!--RD Navbar-->
        <header class="section rd-navbar-wrap rd-navbar-wrap-absolute">
          <nav class="rd-navbar rd-navbar-solid rd-navbar-transparent" data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
            <div class="navbar-section navbar-non-stuck">
              <div class="navbar-panel">
                <button class="navbar-switch mdi-menu novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
                <div class="navbar-logo"><a class="navbar-logo-link" href="index.html"><img class="navbar-logo-default" src="images/logo-default-293x72.png" alt="Airy" width="146" height="36"/><img class="navbar-logo-inverse" src="images/logo-inverse-293x72.png" alt="Airy" width="146" height="36"/></a></div>
              </div>
              <div class="navbar-container">
                <div class="navbar-cell flex-grow-1">
                  <div class="navbar-info">
                    <div class="list list-icons-2">
                      <div class="list-item">
                        <div class="list-icon icon navbar-info-icon onclinic-map-marker novi-icon"></div><a class="link link-inherit small-1" href="#">670 Lafayette Ave, Brooklyn, NY 11216</a>
                      </div>
                    </div>
                    <div class="navbar-logo navbar-fullwidth-logo"><a class="navbar-logo-link" href="index.html"><img class="navbar-logo-default" src="images/logo-default-293x72.png" alt="Airy" width="146" height="36"/><img class="navbar-logo-inverse" src="images/logo-inverse-293x72.png" alt="Airy" width="146" height="36"/></a></div>
                    <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                      <p class="small-1">Have questions?</p>
                      <div class="list list-icons-2">
                        <div class="list-item">
                          <div class="list-icon icon onclinic-phone"></div><span class="h5"><a class="link" href="tel:#">(123) 456-7890</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar-cell">
                  <div class="navbar-subpanel">
                    <div class="navbar-subpanel-item">
                      <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                    </div>
                    <div class="navbar-subpanel-item">
                      <div class="navbar-search">
                        <div class="navbar-search-container">
                          <form class="navbar-search-form" action="search-results.html" method="GET" data-rd-search='{"output":".navbar-search-results","mode":"live","liveResults":3,"template":"<h5 class=\"search-title\"><a target=\"_top\" href=\"#{href}\" class=\"search-link\">#{title}</a></h5><p>...#{token}...</p>"}'>
                            <input class="navbar-search-input" type="text" placeholder="Enter keyword..." autocomplete="off" name="s"/>
                            <button class="navbar-search-btn onclinic-search novi-icon"></button>
                            <button class="navbar-search-close search-switch mdi-close novi-icon" type="button" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
                          </form>
                        </div>
                      </div>
                      <div class="navbar-search-results">No results</div>
                      <button class="navbar-button search-switch onclinic-search novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
                    </div>
                    <div class="navbar-subpanel-item">
                      <button class="navbar-button onclinic-cart novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-cart-active","isolate":"[data-multi-switch]"}'><span class="navbar-button-badge">3</span></button>
                      <div class="navbar-cart">
                        <h3 class="navbar-cart-heading">My Cart</h3>
                        <div class="navbar-cart-item">
                          <div class="navbar-cart-item-left"><a class="thumbnail-small" href="single-product.html"><img src="images/product-02-80x80.jpg" alt="" width="80" height="80"/></a></div>
                          <div class="navbar-cart-item-body"><a class="navbar-cart-item-heading" href="single-product.html">Round Clear & White Frame Eyeglasses</a>
                            <div class="navbar-cart-item-price">$29</div>
                          </div>
                          <div class="navbar-cart-item-right">
                            <button class="navbar-cart-remove mdi-delete novi-icon"></button>
                          </div>
                        </div>
                        <div class="navbar-cart-item">
                          <div class="navbar-cart-item-left"><a class="thumbnail-small" href="single-product.html"><img src="images/product-03-80x80.jpg" alt="" width="80" height="80"/></a></div>
                          <div class="navbar-cart-item-body"><a class="navbar-cart-item-heading" href="single-product.html">Round Non-Prescription Eyeglasses Clear Lens</a>
                            <div class="navbar-cart-item-price">$34</div>
                          </div>
                          <div class="navbar-cart-item-right">
                            <button class="navbar-cart-remove mdi-delete novi-icon"></button>
                          </div>
                        </div>
                        <div class="navbar-cart-item">
                          <div class="navbar-cart-item-left"><a class="thumbnail-small" href="single-product.html"><img src="images/product-04-80x80.jpg" alt="" width="80" height="80"/></a></div>
                          <div class="navbar-cart-item-body"><a class="navbar-cart-item-heading" href="single-product.html">Matte Gray Plastic Eyeglasses</a>
                            <div class="navbar-cart-item-price">$31</div>
                          </div>
                          <div class="navbar-cart-item-right">
                            <button class="navbar-cart-remove mdi-delete novi-icon"></button>
                          </div>
                        </div>
                        <div class="navbar-cart-line">
                          <div class="navbar-cart-line-name">Subtotal:</div>
                          <div class="navbar-cart-line-value">$94.00</div>
                        </div>
                        <div class="navbar-cart-buttons">
                          <div class="navbar-cart-group"><a class="btn btn-dark" href="cart.html">View Cart</a><a class="btn btn-primary" href="#">Check Out</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-section">
              <div class="navbar-container navbar-sidebar">
                <div class="navbar-cell flex-grow-1">
                  <ul class="navbar-navigation rd-navbar-nav">
                    <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link" href="index.html">Home</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="about-us.html">About us</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="purposes.html">Purposes</a>
                      <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="single-purpose.html">Single Purpose</a>
                        </li>
                      </ul>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="showcase.html">Showcase</a>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="#">Pages</a>
                      <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="book-an-appointment.html">Book an Appointment</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="gallery.html">Gallery</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="pricing.html">Pricing</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="contacts.html">Contacts</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="faqs.html">FAQs</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="404-page.html">404 Page</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="terms-of-use.html">Terms of Use</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                      </ul>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="#">Blog</a>
                      <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="grid-blog.html">Grid Blog</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="single-post.html">Single Post</a>
                        </li>
                      </ul>
                    </li>
                    <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="#">Store</a>
                      <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                        <li class="navbar-navigation-back">
                          <button class="navbar-navigation-back-btn">Back</button>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="single-product.html">Single Product</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="store-catalog.html">Store Catalog</a>
                        </li>
                        <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="cart.html">Cart</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="navbar-cell navbar-action-link"><a class="link" href="book-an-appointment.html"><span class="link-icon">+</span><span>Make Order</span></a></div>
              </div>
            </div>
            <div class="navbar-section-divided">
              <div class="navbar-container"></div>
            </div>
          </nav>
        </header>
        <!-- Reviews-->
        <section class="section swiper-container swiper-primary" data-swiper='{"effect":"fade"}'>
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper">
            <!-- Slides-->
            <div class="swiper-slide text-center" style="background-image: url( images/image-01-1920x880.jpg )">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-9 col-xl-7">
                    <h1 class="swiper-title">Providing a Wide Choice of Drones</h1>
                    <div class="btn-group-1"><a class="btn btn-lg btn-primary" href="store-catalog.html">Explore</a><a class="icon icon-btn mdi-play lightgallery-item" data-lightgallery='{"selector":"this"}' href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" style="background-image: url( images/image-02-1920x880.jpg )">
              <div class="container">
                <div class="row">
                  <div class="col-md-10 col-xl-8">
                    <h1 class="swiper-title">Top-Rated Camera Drones</h1>
                    <div class="btn-group-1"><a class="btn btn-lg btn-primary" href="purposes.html">Explore</a><a class="icon icon-btn mdi-play lightgallery-item" data-lightgallery='{"selector":"this"}' href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination-wrap">
            <div class="container">
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>
      </section>
      <!-- Blurb boxed 3-->
      <section class="section section-md bg-transparent text-center">
        <div class="container">
          <div class="text-block">
            <h2>Airy provides high-quality drones & accessories for a variety of purposes</h2>
          </div>
          <div class="row row-20 row-lg-40 row-content">
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-shield-check"></div>
                        <div class="blurb-title h4">Public Security</div>
                      </div><a class="blurb-link-overlay" href="single-purpose.html"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-box"></div>
                        <div class="blurb-title h4">Mineral exploration</div>
                      </div><a class="blurb-link-overlay" href="single-purpose.html"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-camera"></div>
                        <div class="blurb-title h4">Movie Production</div>
                      </div><a class="blurb-link-overlay" href="single-purpose.html"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-map2"></div>
                        <div class="blurb-title h4">Aerial Surveillance</div>
                      </div><a class="blurb-link-overlay" href="single-purpose.html"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-mic2"></div>
                        <div class="blurb-title h4">Recreational Use</div>
                      </div><a class="blurb-link-overlay" href="single-purpose.html"></a>
                    </article>
            </div>
            <div class="col-xs-6 col-md-4 d-flex">
                    <!-- Blurb-->
                    <article class="blurb blurb-boxed-simple">
                      <div class="blurb-item">
                        <div class="icon blurb-icon linearicons-hammer-wrench"></div>
                        <div class="blurb-title h4">Remote Sensing</div>
                      </div><a class="blurb-link-overlay" href="single-purpose.html"></a>
                    </article>
            </div>
          </div>
          <div class="btn-group-1"><a class="btn btn-lg btn-primary" href="purposes.html">View more</a></div>
        </div>
      </section>
      <!-- About us tabs-->
      <section class="section section-md bg-200">
        <div class="container">
          <div class="row row-20 row-lg-40 flex-sm-row-reverse">
            <div class="col-md-6 ml-auto">
              <div class="title-1">About us</div>
              <h2>We help you<br class="d-none d-xl-inline">embrace the future</h2>
              <p>At Airy, we believe that using drones should empower modern creators to capture what was once out of reach.</p>
              <p>Since 2005, our team of drone experts have advised, built, and supplied drones all over the US. We’re your one-stop shop for everything related to remote control aircraft.</p>
              <div class="btn-group-1"><a class="btn btn-lg" href="about-us.html">Explore</a></div>
            </div>
            <div class="col-md-5 d-none d-md-block"><img class="image" src="images/image-03-460x495.png" alt="" width="460" height="495"/>
            </div>
          </div>
        </div>
      </section>
      <!-- About us 5-->
      <section class="section section-md bg-transparent bg-image-1" style="background-image: url(images/pattern-1-1920x1368.jpg)">
        <div class="container">
          <div class="row row-30 row-lg-50 row-xxl-100 justify-content-center">
            <div class="col-12 text-center">
              <div class="title-1">Our features</div>
              <h2>Why choose us</h2>
            </div>
            <div class="col-12">
              <div class="row row-30 justify-content-center align-items-md-center">
                <div class="col-6 col-sm-4 col-md-3">
                        <!-- Counter-->
                        <div class="counter counter-boxed counter-boxed-light">
                          <div class="counter-value"><span data-counter="">15</span>
                          </div>
                          <div class="counter-title">Years of work</div>
                        </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                        <!-- Counter-->
                        <div class="counter counter-boxed">
                          <div class="counter-value"><span data-counter="">5</span><span class="counter-postfix">K+</span>
                          </div>
                          <div class="counter-title">Drones sold annually</div>
                        </div>
                </div>
                <div class="col-sm-8 col-md-5 col-lg-5 ml-md-auto">
                  <h3>Price & Service</h3>
                  <p>At Airy, we offer first-class drones at highly affordable prices. Besides, we guarantee that you will be satisfied with our customer service.</p><a class="link link-offset-1 font-weight-medium" href="about-us.html">Learn More About Us</a>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row row-30 align-items-center justify-content-between flex-md-row-reverse">
                <div class="col-md-5 col-lg-6">
                  <div class="row row-20 row-lg-40">
                    <div class="col-12"><img src="images/image-04-334x250.png" alt="" width="334" height="250"/>
                    </div>
                    <div class="col-4"><img src="images/image-05-160x112.png" alt="" width="160" height="112"/>
                    </div>
                    <div class="col-8"><img src="images/image-06-360x270.png" alt="" width="360" height="270"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5">
                  <h3>Availability</h3>
                  <p>Our products are available worldwide thanks to our shipping & delivery partners who offer:</p>
                  <ul class="list list-marked">
                    <li class="list-item">24/7 delivery services</li>
                    <li class="list-item">Qualified consultations</li>
                    <li class="list-item">Any necessary support</li>
                  </ul>
                  <div class="btn-group-2"><a class="btn btn-lg btn-primary" href="contacts.html">Get in Touch</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Cases-->
      <section class="section section-md bg-200">
        <div class="container">
          <div class="text-block">
            <div class="title-1">Videos Shot by Our Drones</div>
            <h2>Showcase</h2>
          </div>
          <div class="owl-carousel owl-carousel-pagination-top owl-content-1" data-owl="{&quot;dots&quot;:true}" data-loop="false" data-items="1" data-sm-items="2" data-md-items="3">
                  <!-- Thumbnail-->
                  <div class="thumbnail thumbnail-video"><a class="thumbnail-media lightgallery-item" data-lightgallery='{"selector":"this"}' href="#"><img class="thumbnail-img" src="images/image-07-360x270.jpg" alt="" width="360" height="270"/><span class="thumbnail-icon mdi-play"></span></a>
                    <div class="thumbnail-title h4"><a href="single-purpose.html">Peruvian Adventure</a></div>
                    <div class="thumbnail-meta">20 may, 2020</div>
                    <div class="thumbnail-text">Take a look at these awesome video submitted by Andrew Wilson, a professional videographer.</div><a class="thumbnail-link link" href="single-purpose.html">Learn more</a>
                  </div>
                  <!-- Thumbnail-->
                  <div class="thumbnail thumbnail-video"><a class="thumbnail-media lightgallery-item" data-lightgallery='{"selector":"this"}' href="#"><img class="thumbnail-img" src="images/image-08-360x270.jpg" alt="" width="360" height="270"/><span class="thumbnail-icon mdi-play"></span></a>
                    <div class="thumbnail-title h4"><a href="single-purpose.html">Flying Over Bali</a></div>
                    <div class="thumbnail-meta">20 may, 2020</div>
                    <div class="thumbnail-text">Check out this spectacular video montage published on YouTube by one of our customers.</div><a class="thumbnail-link link" href="single-purpose.html">Learn more</a>
                  </div>
                  <!-- Thumbnail-->
                  <div class="thumbnail thumbnail-video"><a class="thumbnail-media lightgallery-item" data-lightgallery='{"selector":"this"}' href="#"><img class="thumbnail-img" src="images/image-09-360x270.jpg" alt="" width="360" height="270"/><span class="thumbnail-icon mdi-play"></span></a>
                    <div class="thumbnail-title h4"><a href="single-purpose.html">The Beauty of Scotland</a></div>
                    <div class="thumbnail-meta">20 may, 2020</div>
                    <div class="thumbnail-text">Scotland has some purely divine landscapes. The latest showcase submission proves this fact.</div><a class="thumbnail-link link" href="single-purpose.html">Learn more</a>
                  </div>
                  <!-- Thumbnail-->
                  <div class="thumbnail thumbnail-video"><a class="thumbnail-media lightgallery-item" data-lightgallery='{"selector":"this"}' href="#"><img class="thumbnail-img" src="images/image-10-360x270.jpg" alt="" width="360" height="270"/><span class="thumbnail-icon mdi-play"></span></a>
                    <div class="thumbnail-title h4"><a href="single-purpose.html">American Landscapes</a></div>
                    <div class="thumbnail-meta">20 may, 2020</div>
                    <div class="thumbnail-text">This video was shot by several owners of our drones for commercial purposes back in 2010.</div><a class="thumbnail-link link" href="single-purpose.html">Learn more</a>
                  </div>
          </div>
        </div>
      </section>
      <!-- About us 2-->
      <section class="section section-md bg-transparent">
        <div class="container">
          <div class="row row-30 row-lg-40 flex-sm-row-reverse justify-content-between">
            <div class="col-md-6"><img class="image" src="images/product-01-596x515.png" alt="" width="596" height="515"/>
            </div>
            <div class="col-md-6">
              <div class="title-1">What We Offer</div>
              <h2>DJI Mavic 2 Pro</h2>
              <p>A drone that embodies all of DJI's advanced, signature technologies, and redefines aerial photography.</p>
              <div class="row row-20 row-text-2">
                <div class="col-4">
                        <!-- Blurb-->
                        <article class="blurb blurb-micro">
                          <div class="icon blurb-icon linearicons-wifi-low2"></div>
                          <div class="blurb-value h4">5 ml</div>
                          <div class="blurb-title small-1">Transmission Distance</div>
                        </article>
                </div>
                <div class="col-4">
                        <!-- Blurb-->
                        <article class="blurb blurb-micro">
                          <div class="icon blurb-icon linearicons-clock3"></div>
                          <div class="blurb-value h4">31 min</div>
                          <div class="blurb-title small-1">Maximal <br>Flight time</div>
                        </article>
                </div>
                <div class="col-4">
                        <!-- Blurb-->
                        <article class="blurb blurb-micro">
                          <div class="icon blurb-icon linearicons-camera"></div>
                          <div class="blurb-value h4">12 mp</div>
                          <div class="blurb-title small-1">Effective <br>Pixels</div>
                        </article>
                </div>
              </div>
              <div class="btn-group-1"><a class="btn btn-lg btn-primary" href="contacts.html">Shop Contacts</a></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Product simple-->
      <section class="section section-md bg-transparent">
        <div class="container">
          <h3 class="text-center">Featured products</h3>
          <div class="owl-carousel owl-carousel-nav-1 owl-content-1" data-owl="{&quot;dots&quot;:true,&quot;nav&quot;:true}" data-loop="false" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4">
                  <div class="product product-light">
                    <div class="product-media"><img class="product-img" src="images/product-02-260x260.jpg" alt="" width="260" height="260"/>
                      <div class="product-tags">
                        <div class="tag tag-sm tag-primary-lighter">New</div>
                      </div>
                    </div>
                    <div class="product-body">
                      <div class="product-rating rating"><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star rating-item-disabled"></span>
                      </div>
                      <div class="product-title"><a class="link link-inherit" href="single-product.html">DJI Inspire 2 with Zenmuse X5S 4K Camera</a></div>
                      <div class="product-price">$45.89</div>
                    </div>
                  </div>
                  <div class="product product-light">
                    <div class="product-media"><img class="product-img" src="images/product-03-260x260.jpg" alt="" width="260" height="260"/>
                      <div class="product-tags">
                        <div class="tag tag-sm tag-gray">Featured</div>
                      </div>
                    </div>
                    <div class="product-body">
                      <div class="product-title"><a class="link link-inherit" href="single-product.html">DJI Phantom 4 RTK SDK Professional Drone</a></div>
                      <div class="product-price">$45.89</div>
                    </div>
                  </div>
                  <div class="product product-light">
                    <div class="product-media"><img class="product-img" src="images/product-04-260x260.jpg" alt="" width="260" height="260"/>
                      <div class="product-tags">
                      </div>
                    </div>
                    <div class="product-body">
                      <div class="product-rating rating"><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span>
                      </div>
                      <div class="product-title"><a class="link link-inherit" href="single-product.html">DJI Mavic 2 Enterprise Dual with Fly More Kit</a></div>
                      <div class="product-price">$45.89</div>
                    </div>
                  </div>
                  <div class="product product-light">
                    <div class="product-media"><img class="product-img" src="images/product-05-260x260.jpg" alt="" width="260" height="260"/>
                      <div class="product-tags">
                      </div>
                    </div>
                    <div class="product-body">
                      <div class="product-title"><a class="link link-inherit" href="single-product.html">Ryze Tello Drone Boost Combo - Powered by DJI</a></div>
                      <div class="product-price">$45.89</div>
                    </div>
                  </div>
                  <div class="product product-light">
                    <div class="product-media"><img class="product-img" src="images/product-06-260x260.jpg" alt="" width="260" height="260"/>
                      <div class="product-tags">
                      </div>
                    </div>
                    <div class="product-body">
                      <div class="product-rating rating"><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span><span class="rating-item mdi-star"></span>
                      </div>
                      <div class="product-title"><a class="link link-inherit" href="single-product.html">Parrot Anafi Thermal Drone - Extended Pack</a></div>
                      <div class="product-price">$45.89</div>
                    </div>
                  </div>
                  <div class="product product-light">
                    <div class="product-media"><img class="product-img" src="images/product-07-260x260.jpg" alt="" width="260" height="260"/>
                      <div class="product-tags">
                      </div>
                    </div>
                    <div class="product-body">
                      <div class="product-title"><a class="link link-inherit" href="single-product.html">ProFlight Seeker Drone with 2MP Camera</a></div>
                      <div class="product-price">$45.89</div>
                    </div>
                  </div>
                  <div class="product product-light">
                    <div class="product-media"><img class="product-img" src="images/product-08-260x260.jpg" alt="" width="260" height="260"/>
                      <div class="product-tags">
                      </div>
                    </div>
                    <div class="product-body">
                      <div class="product-title"><a class="link link-inherit" href="single-product.html">ProFlight Orbit Folding Camera Drone with GPS</a></div>
                      <div class="product-price">$45.89</div>
                    </div>
                  </div>
          </div>
        </div>
      </section>
      <!-- Contact us 1-->
      <section class="section section-md bg-200 section-offset-3">
        <div class="container">
          <div class="row row-40 align-items-center justify-content-between">
            <div class="col-md-6 col-lg-5">
              <h2>Get in touch with our managers today</h2>
              <div class="text-block text-block-2">
                <p>Have questions?</p>
                <div class="list list-icons-2">
                  <div class="list-item">
                    <div class="list-icon icon onclinic-phone"></div><a class="link h4" href="tel:#">(123) 456-7890</a>
                  </div>
                </div>
              </div>
              <div class="btn-group-1"><a class="btn btn-lg" href="contacts.html">Contact Us</a></div>
            </div>
            <div class="col-md-6">
              <div class="box box-form-1 section-offset-item">
                <div class="box-header">
                  <h3 class="box-title">Ask us anything!</h3>
                </div>
                <div class="box-body">
                  <form class="rd-form rd-mailform" data-form-output="contact-form-1" data-form-type="contact" method="post" action="components/rd-mailform/rd-mailform.php">
                    <div class="form-group">
                      <label class="form-label" for="contact-1-name">* Full name</label>
                      <div class="form-control-wrap">
                        <input class="form-control" id="contact-1-name" type="text" name="name" placeholder="e.g. Adam Smith" data-constraints="@Required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="contact-1-email">* Email</label>
                      <div class="form-control-wrap">
                        <input class="form-control" id="contact-1-email" type="email" name="email" placeholder="e.g. adamsmith@company.com" data-constraints="@Email @Required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="contact-1-phone">* Phone number</label>
                      <div class="form-control-wrap">
                        <input class="form-control" id="contact-1-phone" type="text" name="phone" placeholder="e.g. 123-456-7890" data-constraints="@Numeric @Required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="contact-1-message">Message</label>
                      <div class="form-control-wrap">
                        <textarea class="form-control" id="contact-1-message" name="textarea" placeholder="Your message" data-constraints="@Required"></textarea>
                      </div>
                    </div>
                    <div class="rd-form-btn text-left">
                      <button class="btn btn-lg btn-primary" type="submit">Get In Touch</button>
                    </div>
                    <div class="rd-form-meta small-1"><span>By clicking the button you agree to the </span><a class="link link-underline" href="privacy-policy.html">Privacy Policy</a><br class="d-none d-lg-inline"><span> and </span><a class="link link-underline" href="terms-of-use.html">Terms of Service</a><span> .</span></div>
                  </form>
                  <div class="form-output snackbar snackbar-primary" id="contact-form-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer footer-dark context-dark bg-800">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-3">
                    <!-- Logo-->
                    <div class="logo"><a class="logo-link" href="index.html"><img class="logo-image-default" src="images/logo-default-293x72.png" alt="Airy" width="146" height="36"/><img class="logo-image-inverse" src="images/logo-inverse-293x72.png" alt="Airy" width="146" height="36"/></a></div>
              <p>Airy is your #1 place to shop for the first-class drones and accessories worldwide.</p>
              <div class="social group-20"><a class="social-icon icon icon-md icon-link onclinic-facebook" href="#"></a><a class="social-icon icon icon-md icon-link onclinic-twitter" href="#"></a><a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a></div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <h5 class="footer-title">Purposes</h5>
              <ul class="list list-sm">
                <li class="list-item"><a href="single-purpose.html">Movie Production</a></li>
                <li class="list-item"><a href="single-purpose.html">Mineral Exploration</a></li>
                <li class="list-item"><a href="single-purpose.html">Aerial Surveillance</a></li>
                <li class="list-item"><a href="single-purpose.html">Public Security</a></li>
                <li class="list-item"><a href="single-purpose.html">Recreational Use</a></li>
                <li class="list-item"><a href="single-purpose.html">Remote Sensing</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
              <h5 class="footer-title">Contacts</h5>
              <ul class="list list-icons">
                <li class="list-item">
                  <div class="list-icon onclinic-map-marker"></div><a href="#">670 Lafayette Ave, Brooklyn, NY 11216</a>
                </li>
                <li class="list-item">
                  <div class="list-icon onclinic-phone"></div><a href="tel:#">(123) 456-7890</a>
                </li>
                <li class="list-item">
                  <div class="list-icon onclinic-email-open"></div><a href="mailto:#">info@demolink.org</a>
                </li>
                <li class="list-item">
                  <div class="list-icon onclinic-book"></div><a href="book-an-appointment.html">Book an Appointment</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
              <h5 class="footer-title">Useful Links</h5>
              <ul class="list list-sm">
                <li class="list-item"><a href="about-us.html">About Us</a></li>
                <li class="list-item"><a href="showcase.html">Showcase</a></li>
                <li class="list-item"><a href="contacts.html">Contacts</a></li>
                <li class="list-item"><a href="grid-blog.html">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
                <!-- Copyright-->
                <p class="rights">Copyright &copy; 2020.Company name All rights reserved.
                  <a href="http://bootstrap.fans/" title="素材官网"  target="_blank">Bootstrap网站模板下载/狮王素材</a>
                </p>
        </div>
      </footer>
    </div>
    <!-- Preloader-->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
      </div>
    </div>
  </body>
</html>