<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Single Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Template Monster Admin Template">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="components/base/base.css">
    <script src="components/base/core.min.js"></script>
    <script src="components/base/script.js"></script>
  </head>
  <body>
    <div class="page">
      <!--RD Navbar-->
      <header class="section rd-navbar-wrap rd-navbar-wrap-transparent">
        <nav class="rd-navbar rd-navbar-solid rd-navbar-transparent" data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"164px"}}}'>
          <div class="navbar-section navbar-non-stuck">
            <div class="navbar-panel">
              <button class="navbar-switch mdi-menu novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
              <div class="navbar-logo"><a class="navbar-logo-link" href="index.html"><img class="navbar-logo-default" src="images/logo-default-293x72.png" alt="Airy" width="146" height="36"/><img class="navbar-logo-inverse" src="images/logo-inverse-293x72.png" alt="Airy" width="146" height="36"/></a></div>
            </div>
            <div class="navbar-container">
              <div class="navbar-cell flex-grow-1">
                <div class="navbar-info">
                  <div class="list list-icons-2">
                    <div class="list-item">
                      <div class="list-icon icon navbar-info-icon onclinic-map-marker novi-icon"></div><a class="link link-inherit small-1" href="#">670 Lafayette Ave, Brooklyn, NY 11216</a>
                    </div>
                  </div>
                  <div class="navbar-logo navbar-fullwidth-logo"><a class="navbar-logo-link" href="index.html"><img class="navbar-logo-default" src="images/logo-default-293x72.png" alt="Airy" width="146" height="36"/><img class="navbar-logo-inverse" src="images/logo-inverse-293x72.png" alt="Airy" width="146" height="36"/></a></div>
                  <div class="text-block text-block-2 d-md-flex align-items-center justify-content-center">
                    <p class="small-1">Have questions?</p>
                    <div class="list list-icons-2">
                      <div class="list-item">
                        <div class="list-icon icon onclinic-phone"></div><span class="h5"><a class="link" href="tel:#">(123) 456-7890</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="navbar-cell">
                <div class="navbar-subpanel">
                  <div class="navbar-subpanel-item">
                    <button class="navbar-button navbar-info-button mdi-dots-vertical novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-info-active","isolate":"[data-multi-switch]"}'></button>
                  </div>
                  <div class="navbar-subpanel-item">
                    <div class="navbar-search">
                      <div class="navbar-search-container">
                        <form class="navbar-search-form" action="search-results.html" method="GET" data-rd-search='{"output":".navbar-search-results","mode":"live","liveResults":3,"template":"<h5 class=\"search-title\"><a target=\"_top\" href=\"#{href}\" class=\"search-link\">#{title}</a></h5><p>...#{token}...</p>"}'>
                          <input class="navbar-search-input" type="text" placeholder="Enter keyword..." autocomplete="off" name="s"/>
                          <button class="navbar-search-btn onclinic-search novi-icon"></button>
                          <button class="navbar-search-close search-switch mdi-close novi-icon" type="button" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
                        </form>
                      </div>
                    </div>
                    <div class="navbar-search-results">No results</div>
                    <button class="navbar-button search-switch onclinic-search novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
                  </div>
                  <div class="navbar-subpanel-item">
                    <button class="navbar-button onclinic-cart novi-icon" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-cart-active","isolate":"[data-multi-switch]"}'><span class="navbar-button-badge">3</span></button>
                    <div class="navbar-cart">
                      <h3 class="navbar-cart-heading">My Cart</h3>
                      <div class="navbar-cart-item">
                        <div class="navbar-cart-item-left"><a class="thumbnail-small" href="single-product.html"><img src="images/product-02-80x80.jpg" alt="" width="80" height="80"/></a></div>
                        <div class="navbar-cart-item-body"><a class="navbar-cart-item-heading" href="single-product.html">Round Clear & White Frame Eyeglasses</a>
                          <div class="navbar-cart-item-price">$29</div>
                        </div>
                        <div class="navbar-cart-item-right">
                          <button class="navbar-cart-remove mdi-delete novi-icon"></button>
                        </div>
                      </div>
                      <div class="navbar-cart-item">
                        <div class="navbar-cart-item-left"><a class="thumbnail-small" href="single-product.html"><img src="images/product-03-80x80.jpg" alt="" width="80" height="80"/></a></div>
                        <div class="navbar-cart-item-body"><a class="navbar-cart-item-heading" href="single-product.html">Round Non-Prescription Eyeglasses Clear Lens</a>
                          <div class="navbar-cart-item-price">$34</div>
                        </div>
                        <div class="navbar-cart-item-right">
                          <button class="navbar-cart-remove mdi-delete novi-icon"></button>
                        </div>
                      </div>
                      <div class="navbar-cart-item">
                        <div class="navbar-cart-item-left"><a class="thumbnail-small" href="single-product.html"><img src="images/product-04-80x80.jpg" alt="" width="80" height="80"/></a></div>
                        <div class="navbar-cart-item-body"><a class="navbar-cart-item-heading" href="single-product.html">Matte Gray Plastic Eyeglasses</a>
                          <div class="navbar-cart-item-price">$31</div>
                        </div>
                        <div class="navbar-cart-item-right">
                          <button class="navbar-cart-remove mdi-delete novi-icon"></button>
                        </div>
                      </div>
                      <div class="navbar-cart-line">
                        <div class="navbar-cart-line-name">Subtotal:</div>
                        <div class="navbar-cart-line-value">$94.00</div>
                      </div>
                      <div class="navbar-cart-buttons">
                        <div class="navbar-cart-group"><a class="btn btn-dark" href="cart.html">View Cart</a><a class="btn btn-primary" href="#">Check Out</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar-section">
            <div class="navbar-container navbar-sidebar">
              <div class="navbar-cell flex-grow-1">
                <ul class="navbar-navigation rd-navbar-nav">
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="index.html">Home</a>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="about-us.html">About us</a>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="purposes.html">Purposes</a>
                    <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                      <li class="navbar-navigation-back">
                        <button class="navbar-navigation-back-btn">Back</button>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="single-purpose.html">Single Purpose</a>
                      </li>
                    </ul>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="showcase.html">Showcase</a>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="#">Pages</a>
                    <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                      <li class="navbar-navigation-back">
                        <button class="navbar-navigation-back-btn">Back</button>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="book-an-appointment.html">Book an Appointment</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="gallery.html">Gallery</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="pricing.html">Pricing</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="contacts.html">Contacts</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="faqs.html">FAQs</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="404-page.html">404 Page</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="terms-of-use.html">Terms of Use</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="privacy-policy.html">Privacy Policy</a>
                      </li>
                    </ul>
                  </li>
                  <li class="navbar-navigation-root-item active"><a class="navbar-navigation-root-link" href="#">Blog</a>
                    <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                      <li class="navbar-navigation-back">
                        <button class="navbar-navigation-back-btn">Back</button>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="grid-blog.html">Grid Blog</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item active"><a class="navbar-navigation-dropdown-link" href="single-post.html">Single Post</a>
                      </li>
                    </ul>
                  </li>
                  <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="#">Store</a>
                    <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
                      <li class="navbar-navigation-back">
                        <button class="navbar-navigation-back-btn">Back</button>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="single-product.html">Single Product</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="store-catalog.html">Store Catalog</a>
                      </li>
                      <li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="cart.html">Cart</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="navbar-cell navbar-action-link"><a class="link" href="book-an-appointment.html"><span class="link-icon">+</span><span>Make Order</span></a></div>
            </div>
          </div>
        </nav>
      </header>
      <section class="section breadcrumb-section">
        <div class="breadcrumb-section-inner">
          <div class="container">
            <!-- Breadcrumb-->
            <div class="breadcrumb">
              <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="index.html">Home</a></div>
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="#">Blog</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Single Post</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog post-->
      <section class="section section-md bg-transparent">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-8 col-lg-9">
              <div class="blog-post mr-lg-3">
                <div class="blog-post-item">
                  <div class="blog-post-subtitle title-2">News</div>
                  <h1>Drone Review: How Good is the DJI Mavic Air 2?</h1>
                  <div class="blog-post-meta post-meta">
                    <div class="post-meta-item">
                            <!-- Person side-->
                            <div class="person person-side">
                              <div class="person-media"><img class="person-img" src="images/person-07-64x64.jpg" alt="" width="64" height="64"/>
                              </div>
                              <div class="person-body"><span>by </span><span class="person-title h6">Adam Smith</span><span> posted </span><span class="person-meta small">September 16, 2020</span></div>
                            </div>
                    </div>
                    <div class="post-meta-item">
                      <div class="post-meta-icon icon onclinic-comment"></div>
                      <div class="post-comment">0</div>
                    </div>
                  </div>
                  <div class="blog-post-divider"></div>
                  <figure><img class="image" src="images/image-16-840x630.jpg" alt="" width="840" height="630"/>
                    <figcaption>Working with the DJI Mavic Air 2</figcaption>
                  </figure>
                  <h2>1. Design</h2>
                  <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                  <p>Sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                  <p>Diam maecenas sed enim ut. Sollicitudin tempor id eu nisl nunc. Nunc mattis enim ut tellus elementum. Aliquam ut porttitor leo a diam sollicitudin tempor id eu.</p>
                  <div class="row row-text row-20">
                    <div class="col-sm-6">
                      <figure><img class="image" src="images/image-15-400x300.jpg" alt="" width="400" height="300"/>
                        <figcaption>The look of DJI’s new drone</figcaption>
                      </figure>
                    </div>
                    <div class="col-sm-6">
                      <figure><img class="image" src="images/image-26-400x300.jpg" alt="" width="400" height="300"/>
                        <figcaption>Beach landscape (shot with the DJI Mavic Air 2)</figcaption>
                      </figure>
                    </div>
                  </div>
                  <h2>2. Performance</h2>
                  <p>Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <h3>2. 1. Flight</h3>
                  <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                  <ul class="list list-marked">
                    <li class="list-item">Magnis dis parturient montes nascetur</li>
                    <li class="list-item">Libero id faucibus nisl tincidunt eget
                      <ul class="list list-marked">
                        <li class="list-item">Magnis dis parturient montes nascetur</li>
                        <li class="list-item">Magnis dis parturient montes nascetur</li>
                      </ul>
                    </li>
                    <li class="list-item">Magnis dis parturient montes nascetur</li>
                  </ul>
                  <p>Feugiat in ante metus dictum at.</p>
                  <p>Diam maecenas sed enim ut. Sollicitudin tempor id eu nisl nunc. Nunc mattis enim ut tellus elementum. Aliquam ut porttitor leo a diam sollicitudin tempor id eu. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Vitae congue eu consequat ac. In nisl nisi scelerisque eu. Pharetra massa massa ultricies mi quis.</p>
                  <h3>2. 2. Camera</h3>
                  <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                  <ul class="list list-ordered">
                    <li class="list-item">Lorem ipsum dolor sit amet conse ctetur adipisicing elit;</li>
                    <li class="list-item">Sed do eiusmod ut labore et dolore magna aliqua;
                      <ul class="list list-ordered">
                        <li class="list-item">Quis nostrud exercitation ullamco laboris nisi ut aliquip;</li>
                        <li class="list-item">Duis aute irure dolor in reprehenderit;</li>
                      </ul>
                    </li>
                  </ul>
                  <h3>2. 3. Connection and Flight Time</h3>
                  <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <!-- Quote-->
                        <blockquote class="quote quote-boxed">
                          <div class="icon quote-icon icon onclinic-quote"></div>
                          <q class="quote-text h5">Diam maecenas sed enim sollicitudin tempor id eu nisl nunc. Nunc mattis enim ut tellus elementum.</q>
                          <cite class="quote-cite">— Adam Smith</cite>
                        </blockquote>
                  <p>Sollicitudin tempor id eu nisl nunc. Nunc mattis enim ut tellus elementum. Aliquam ut porttitor leo a diam sollicitudin tempor id eu.</p>
                  <div class="tag-container">
                    <div class="tag-container"><a class="tag tag-light" href="#">News</a><a class="tag tag-light" href="#">Drones</a><a class="tag tag-light" href="#">Review</a></div>
                  </div>
                </div>
                <div class="blog-post-item">
                        <div class="pag pag-extended">
                          <div class="pag-extended-item">
                            <div class="pag-extended-item-inner">
                              <div class="pag-extended-media"><img class="pag-extended-img" src="images/image-27-100x76.jpg" alt="" width="100" height="76"/>
                              </div>
                              <div class="pag-extended-body">
                                <div class="pag-extended-title">How Drones Help The Environment</div><a class="link pag-extended-link" href="#"><span class="mdi-chevron-left"></span><span> Previous post</span></a>
                              </div>
                            </div>
                          </div>
                          <div class="pag-extended-item pag-extended-item-reverse">
                            <div class="pag-extended-item-inner">
                              <div class="pag-extended-media"><img class="pag-extended-img" src="images/image-28-100x76.jpg" alt="" width="100" height="76"/>
                              </div>
                              <div class="pag-extended-body">
                                <div class="pag-extended-title">Top 5 Tips for Flying Drones Over Water</div><a class="link pag-extended-link" href="#"><span>Next post </span><span class="mdi-chevron-right"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="blog-post-item">
                        <!-- Person post-->
                        <div class="person person-post">
                          <div class="person-body">
                            <div class="person-media"><img class="person-img" src="images/person-07-100x100.jpg" alt="" width="100" height="100"/>
                            </div>
                            <div class="person-subtitle h5">About Author</div>
                            <div class="person-title h3">Adam Smith</div>
                            <div class="person-text">Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</div>
                          </div>
                        </div>
                </div>
                <div class="blog-post-item">
                  <h3>Recent Post</h3>
                  <div class="row row-40 row-content">
                    <div class="col-xs-6">
                            <!-- Post boxed-->
                            <div class="post post-boxed post-meta-align"><a class="post-media" href="single-post.html"><img class="post-img" src="images/image-06-360x270.jpg" alt="" width="360" height="270"/></a>
                              <div class="post-body">
                                <div class="post-subtitle title-2">News</div>
                                <div class="post-title h4"><a href="single-post.html">Top 8 DJI Osmo Action Accessories</a>
                                </div>
                                <div class="post-divider"></div>
                                <div class="post-meta">
                                  <div class="post-meta-item">
                                    <div class="post-date">September 16, 2020</div>
                                  </div>
                                  <div class="post-meta-item">
                                    <div class="post-meta-icon icon onclinic-comment"></div>
                                    <div class="post-date">0</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="col-xs-6">
                            <!-- Post boxed-->
                            <div class="post post-boxed post-meta-align"><a class="post-media" href="single-post.html"><img class="post-img" src="images/image-23-360x270.jpg" alt="" width="360" height="270"/></a>
                              <div class="post-body">
                                <div class="post-subtitle title-2">News</div>
                                <div class="post-title h4"><a href="single-post.html">Top 15 Aerial Photography Tips</a>
                                </div>
                                <div class="post-divider"></div>
                                <div class="post-meta">
                                  <div class="post-meta-item">
                                    <div class="post-date">September 16, 2020</div>
                                  </div>
                                  <div class="post-meta-item">
                                    <div class="post-meta-icon icon onclinic-comment"></div>
                                    <div class="post-date">0</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-item">
                  <h3>3 Comments</h3>
                        <div class="comment comment-clouds">
                          <div class="comment-left"><img class="comment-image" src="images/person-10-64x64.jpg" alt="" width="64" height="64"/>
                          </div>
                          <div class="comment-body">
                            <div class="comment-meta">
                              <div class="comment-meta-item">by <span class="comment-title">Sam Peters</span> posted <span class="comment-date">September 16, 2020</span>
                              </div>
                            </div>
                            <div class="comment-cloud">
                              <div class="comment-text">Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div><a class="comment-link" href="#"><span class="comment-link-icon mdi-chevron-left"></span><span>Reply</span></a>
                                  <div class="comment comment-clouds">
                                    <div class="comment-left"><img class="comment-image" src="images/person-07-64x64.jpg" alt="" width="64" height="64"/>
                                    </div>
                                    <div class="comment-body">
                                      <div class="comment-meta">
                                        <div class="comment-meta-item">by <span class="comment-title">Adam Smith</span> posted <span class="comment-date">September 16, 2020</span>
                                        </div>
                                      </div>
                                      <div class="comment-cloud">
                                        <div class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation.</div>
                                      </div><a class="comment-link" href="#"><span class="comment-link-icon mdi-chevron-left"></span><span>Reply</span></a>
                                    </div>
                                  </div>
                          </div>
                        </div>
                        <div class="comment comment-clouds">
                          <div class="comment-left"><img class="comment-image" src="images/person-06-64x64.jpg" alt="" width="64" height="64"/>
                          </div>
                          <div class="comment-body">
                            <div class="comment-meta">
                              <div class="comment-meta-item">by <span class="comment-title">Jane Johnson</span> posted <span class="comment-date">September 16, 2020</span>
                              </div>
                            </div>
                            <div class="comment-cloud">
                              <div class="comment-text">Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div><a class="comment-link" href="#"><span class="comment-link-icon mdi-chevron-left"></span><span>Reply</span></a>
                          </div>
                        </div>
                </div>
                <div class="blog-post-item">
                  <h3>Leave a Reply</h3>
                  <form class="rd-form">
                    <div class="row row-20 align-items-center">
                      <div class="col-12">
                        <div class="rd-form-meta small-1">Your email address will not be published. Required fields are marked *</div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label class="form-label" for="contact-1-message">Comment</label>
                          <div class="form-control-wrap">
                            <textarea class="form-control textarea-1" id="contact-1-message" name="textarea" placeholder="Your comment" data-constraints="@Required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="contact-1-name">* Full name</label>
                          <div class="form-control-wrap">
                            <input class="form-control" id="contact-1-name" type="text" name="name" placeholder="e.g. Adam Smith" data-constraints="@Required">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label" for="contact-1-email">* Email</label>
                          <div class="form-control-wrap">
                            <input class="form-control" id="contact-1-email" type="email" name="email" placeholder="e.g. adamsmith@company.com" data-constraints="@Email @Required">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="rd-form-btn rd-form-btn-1">
                      <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-3">
              <div class="widget">
                <div class="widget-body">
                  <form class="rd-form rd-form-boxed rd-form-boxed-1" action="search-results.html" method="GET" data-rd-search>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Search" autocomplete="off" name="s">
                    </div>
                    <button class="rd-form-boxed-btn onclinic-search"></button>
                  </form>
                </div>
              </div>
              <div class="widget">
                <div class="widget-title h5">Categories</div>
                <div class="widget-body">
                  <ul class="widget-list">
                    <li class="widget-list-item"><a class="widget-list-link" href="#">News</a><span class="widget-list-count">3</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Drones</a><span class="widget-list-count">4</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Review</a><span class="widget-list-count">8</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Tips</a><span class="widget-list-count">1</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Aerial</a><span class="widget-list-count">2</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Photography</a><span class="widget-list-count">7</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Videography</a><span class="widget-list-count">1</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Accessories</a><span class="widget-list-count">1</span></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Other</a><span class="widget-list-count">4</span></li>
                  </ul>
                </div>
              </div>
              <div class="widget">
                <div class="widget-title h5">Recent Posts</div>
                <div class="widget-body">
                                <!-- Post simple-->
                                <div class="post post-simple">
                                  <div class="post-title h6"><a href="single-post.html">Top 8 DJI Osmo Action Accessories</a></div>
                                  <div class="post-meta">
                                    <div class="post-meta-item">
                                      <div class="post-meta-icon icon onclinic-comment"></div>
                                      <div class="post-comment">0</div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Post simple-->
                                <div class="post post-simple">
                                  <div class="post-title h6"><a href="single-post.html">Top 15 Aerial Photography Tips for Beginners</a></div>
                                  <div class="post-meta">
                                    <div class="post-meta-item">
                                      <div class="post-meta-icon icon onclinic-comment"></div>
                                      <div class="post-comment">0</div>
                                    </div>
                                  </div>
                                </div>
                                <!-- Post simple-->
                                <div class="post post-simple">
                                  <div class="post-title h6"><a href="single-post.html">How Drones Help The Environment</a></div>
                                  <div class="post-meta">
                                    <div class="post-meta-item">
                                      <div class="post-meta-icon icon onclinic-comment"></div>
                                      <div class="post-comment">0</div>
                                    </div>
                                  </div>
                                </div>
                </div>
              </div>
              <div class="widget">
                <div class="widget-title h5">Meta</div>
                <div class="widget-body">
                  <ul class="widget-list">
                    <li class="widget-list-item"><a class="widget-list-link" href="#">News</a></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Drones</a></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Tips</a></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Photography</a></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Aerial</a></li>
                    <li class="widget-list-item"><a class="widget-list-link" href="#">Review</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer footer-dark context-dark bg-800">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-lg-3">
                    <!-- Logo-->
                    <div class="logo"><a class="logo-link" href="index.html"><img class="logo-image-default" src="images/logo-default-293x72.png" alt="Airy" width="146" height="36"/><img class="logo-image-inverse" src="images/logo-inverse-293x72.png" alt="Airy" width="146" height="36"/></a></div>
              <p>Airy is your #1 place to shop for the first-class drones and accessories worldwide.</p>
              <div class="social group-20"><a class="social-icon icon icon-md icon-link onclinic-facebook" href="#"></a><a class="social-icon icon icon-md icon-link onclinic-twitter" href="#"></a><a class="social-icon icon icon-md icon-link onclinic-instagram" href="#"></a></div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <h5 class="footer-title">Purposes</h5>
              <ul class="list list-sm">
                <li class="list-item"><a href="single-purpose.html">Movie Production</a></li>
                <li class="list-item"><a href="single-purpose.html">Mineral Exploration</a></li>
                <li class="list-item"><a href="single-purpose.html">Aerial Surveillance</a></li>
                <li class="list-item"><a href="single-purpose.html">Public Security</a></li>
                <li class="list-item"><a href="single-purpose.html">Recreational Use</a></li>
                <li class="list-item"><a href="single-purpose.html">Remote Sensing</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
              <h5 class="footer-title">Contacts</h5>
              <ul class="list list-icons">
                <li class="list-item">
                  <div class="list-icon onclinic-map-marker"></div><a href="#">670 Lafayette Ave, Brooklyn, NY 11216</a>
                </li>
                <li class="list-item">
                  <div class="list-icon onclinic-phone"></div><a href="tel:#">(123) 456-7890</a>
                </li>
                <li class="list-item">
                  <div class="list-icon onclinic-email-open"></div><a href="mailto:#">info@demolink.org</a>
                </li>
                <li class="list-item">
                  <div class="list-icon onclinic-book"></div><a href="book-an-appointment.html">Book an Appointment</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
              <h5 class="footer-title">Useful Links</h5>
              <ul class="list list-sm">
                <li class="list-item"><a href="about-us.html">About Us</a></li>
                <li class="list-item"><a href="showcase.html">Showcase</a></li>
                <li class="list-item"><a href="contacts.html">Contacts</a></li>
                <li class="list-item"><a href="grid-blog.html">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer footer-minimal context-dark bg-900">
        <div class="container">
                <!-- Copyright-->
                <p class="rights">Copyright &copy; 2020.Company name All rights reserved.<a href="http://bootstrap.fans/" title="素材官网"  target="_blank">Bootstrap网站模板下载/狮王素材</a></p>
        </div>
      </footer>
    </div>
    <!-- Preloader-->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
      </div>
    </div>
  </body>
</html>